.tableContainer {
  width: 98%;
  height: 83vh;
  max-height: 83vh;
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: #FFFFFF;
  border-radius: 20px;
  overflow-y: auto;
  overflow-x: hidden;
}