.tableContainer {
  width: 98%;
  /* min-width: 100vw; */
  height: 83vh;
  max-height: 83vh;
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  border-radius: 20px;
  overflow-y: auto;
  overflow-x: auto;
}

@media(max-width: 1000px) {
  .tableContainer {
    width: 100%;
    /* height: 50vh; */
  }
}